name: "Fossa Scan"

on:
    push:
      branches: ["main"]
    pull_request:
      # The branches below must be a subset of the branches above
      branches: ["main"]
    schedule:
      - cron: "0 0 * * 1"

permissions:
  contents: read

jobs:
    fossa-scan:
      env:
        FOSSA_API_KEY: ${{ secrets.fossaApiKey }}
      runs-on: ubuntu-latest
      steps:
        - if: ${{ env.FOSSA_API_KEY != '' }}
          name: "Checkout Code"
          uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        - if: ${{ env.FOSSA_API_KEY != '' }}
          name: "Run FOSSA Scan"
          uses: fossas/fossa-action@09bcf127dc0ccb4b5a023f6f906728878e8610ba # v1.4.0
          with:
            api-key: ${{ env.FOSSA_API_KEY }}
