name: golangci-lint
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - "**.go"
      - "go.mod"
      - ".github/workflows/golangci-lint.yml"
permissions:
  contents: read
  pull-requests: read
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: golangci-lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          version: latest
          args: --timeout=3m
