name: golangci-lint
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - "**.go"
      - "go.mod"
      - ".github/workflows/golangci-lint.yml"
permissions:
  contents: read
  pull-requests: read
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest
          args: --timeout=3m
